ul {
  list-style-type: none;
  padding: 0;
  background-color: aliceblue;
}

li {
  text-align: left;
  background-color: white;
  border: 1px solid lightgray;
  font-size: large;
  font-weight: bold;
  padding: 1px;
  padding-left: 3px;
  margin-bottom: 1rem;
}
